.vacancies {
  margin-top: 50px;
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.headers {
  font-weight: bold;
  font-size: 1.1rem;
}

.headers,
.vacancy {
  width: 100%;
  min-width: 1000px;
  display: grid;
  grid-template-columns: 20% 20% 15% 10% 15% 10% 10%;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 30px;
}
